<%- include("templates/header") %>


<section class="jumbotron text-center">
     <div class="container">
       <h1 class="jumbotron-heading">Hello, <%= name %></h1>
       <p >"This app is a demonstration of how to use EJS, Bootstrap, and authorization to create an admin page. Get ready to embark on an exciting coding journey!"</p>
       <p>
          <img src="img6.jpg" height="400px" width="100%"><br>
         <a href="/members" class="btn btn-primary my-2">Members area</a>
         <a href="/logout" class="btn btn-secondary my-2">Log out</a>
       </p>
     </div>
   </section>
<!-- <h1>Hello, <%= name %></h1>
     <div> <a href="/members">Members area</a></div> 
     <div> <a href="/logout">Log out</a><div>
           -->
<%- include("templates/footer") %>  


