<%- include("templates/header") %>

<section class="jumbotron text-center">
    <div class="container">
      <h1 class="jumbotron-heading">Welcome</h1>
      <p > "This app is a demonstration of how to use EJS, Bootstrap, and authorization to create an admin page. Get ready to embark on an exciting coding journey!"</p>
      <p>
        <img src="img6.jpg" height="400px" width="100%"><br>
        <a href="/signup" class="btn btn-primary my-2">Sign Up</a>
        <a href="/login" class="btn btn-secondary my-2">Log In</a>
      </p>
    </div>
  </section>








<%- include("templates/footer") %>  