

<%- include("templates/header") %>
<h1>Hello, <%= name %></h1>

<div class="card-group">
    <div class="card">
      <img src="/img1.gif" class="card-img-top" alt="..." height="300px">
      <div class="card-body">
        <h5 class="card-title">Harmony</h5>
        <p class="card-text">"The best and most beautiful things in the world cannot be seen or even touched - they must be felt with the heart." - Helen Keller</p>
      </div>
    </div>&nbsp;
    <div class="card">
      <img src="img2.gif" class="card-img-top" alt="..." height="300px">
      <div class="card-body">
        <h5 class="card-title">Serenity</h5>
        <p class="card-text">"Quiet the mind and the soul will speak." - Ma Jaya Sati Bhagavati</p>
      </div>
    </div>&nbsp;
    <div class="card">
      <img src="/img3.gif" class="card-img-top" alt="..." height="300px">
      <div class="card-body">
        <h5 class="card-title"> Tranquility</h5>
        <p class="card-text">"Nature does not hurry, yet everything is accomplished." - Lao Tzu</p>
       
      </div>
    </div>
  </div>

  <a href="/logout" class="btn btn-primary my-2">Log out</a>

  <%- include("templates/footer") %>